<nav xmlns:th="http://www.w3.org/1999/xhtml">
  <ul>
    <li style="float: left; background-color:background-color:FFFFFF"><img th:src="@{/Pictures/Pizza.png}" style="height:65px; padding:3px;"></li>
    <li style="float: left; font-size:20px;" class="nev" th:if="${loggedInUser}"><span th:text="'Üdvözlünk ' + ${loggedInUser.getFelh()} + ' !'"></span></li>
    <li class="btn" th:if="!${loggedInUser}"><a th:href="@{login}" >Belépés</a></li>
    <li class="btn" th:if="${loggedInUser}" ><a th:href="@{logout}" >Kilépés</a></li>
    <li class="btn"><a th:href="@{reg}" >Regisztráció</a></li>
    <li class="btn"><a target="_blank" href="">Rólunk</a></li>
    <li class="btn"><a href="">Étlapunk</a></li>
    <li class="btn"><a th:href="@{/}">Főoldal</a></li>
  </ul>
</nav>